// * colors *
moonsoon = #777777
eggwhite = #fafafa
lightgrey = #dbdbdb
silversand = #d9d9d9
shadylady = #9c9a9c
asbestos = #acacac
normalgrey = #bababa
bgcolor = #f1f1f1
darkergrey = #616161
flatred = #dd4737
eucalyptus = #26A65B
desertstorm = #F8F8F8

// * dark colors *
mineshaft = #363B3E
blackcolor = #161616

// * dimensions *
