// * Fonts *

// * FiraSans *
@font-face
    font-family FiraSans
    font-style normal
    src url(../fonts/FiraSans-Regular.ttf)

// * Roboto *
@font-face
    font-family RobotoLight
    font-style normal
    src url(../fonts/Roboto-Light.ttf)

@font-face
    font-family RobotoRegular
    font-style normal
    src url(../fonts/Roboto-Regular.ttf)

@font-face
    font-family RobotoThin
    font-style normal
    src url(../fonts/Roboto-Thin.ttf)

// * Indie Flower *
@font-face
    font-family IndieFlower
    font-style normal
    src url(../fonts/IndieFlower-Regular.ttf)

// * Amatic SC *
@font-face
    font-family AmaticSC
    font-style normal
    src url(../fonts/AmaticSC-Regular.ttf)

// * Handlee *
@font-face
    font-family Handlee
    font-style normal
    src url(../fonts/Handlee-Regular.ttf)

// * Bad Script *
@font-face
    font-family BadScript
    font-style normal
    src url(../fonts/BadScript-Regular.ttf)

// * Playfair Display *
@font-face
    font-family PlayfairDisplay
    font-style normal
    src url(../fonts/PlayfairDisplay-Regular.ttf)

// * Open Sans *
@font-face
    font-family OpenSans
    font-style normal
    src url(../fonts/OpenSans-Regular.ttf)

// * PT Sans *
@font-face
    font-family PTSans
    font-style normal
    src url(../fonts/PT_Sans-Web-Regular.ttf)
