#overview-wrapper
    .overviews
        .overview-doc
            .overview-new-file
                i.ion-ios-plus-empty

.video-wrapper
    video.video(preload='metadata', loop='', autoplay='', muted='')
        source(src='video/winter.webm', type='video/webm')
    .video-overlay
