#settings-wrapper(hidden)
    .settings-general
        .setting
            span Dark mode
            input(type="checkbox")
    .settings-close
        #btn-close-settings
            i.ion-ios-close-empty
