#btn-back
    -webkit-user-select none
    cursor default
    width 10px
    height 10px

#btn-settings
    -webkit-user-select none
    cursor default

#btn-back, #btn-settings
    cursor default
    width 15px
    height 15px
    padding 5px
    border solid 1px transparent
    display flex
    justify-content center
    align-items center
    transition all 125ms ease-in-out
    i
        display flex
    &:hover
        border solid 1px normalgrey
