.overviews
    position relative
    display flex
    flex-direction row
    flex-wrap wrap
    .overview
        display flex
        justify-content center
        align-items center
        width 150px
        height 200px
        border-radius 5px
        color shadylady
        background-color silversand
        font-size 50px
