#topbar
    display flex
    padding 25px 25px

#filename
    margin 0 auto
    text-align center
    width auto
    outline none
    border none
    font-weight 100
    font-size 14px
    min-width 100px
    color moonsoon
    text-transform uppercase
