#topbar
    display flex
    margin-top 15px
    padding 0 25px

#filename
    margin 0 auto
    text-align center
    width auto
    outline none
    border none
    font-weight 100
    font-size 14px
    color moonsoon
    text-transform uppercase
