#bottombar
    #btn-save-file.btn.bg-check
        .ion-ios-download-outline
    #btn-save-file-dialog
        ul
            li#btn-save-file-txt Save file as txt
    #btn-full-screen.btn.bg-check
        i.ion-arrow-expand