// * core *
@require './base/core'
@require './base/reset'

// * modules *
@require './modules/general'
@require './modules/grid'
@require './modules/preferences'

// * partials *
@require './partials/button'
@require './partials/editor'
@require './partials/topbar'
@require './partials/overview'
@require './partials/settings'
@require './partials/video'

// * overrides *
@require './base/overrides'

body
    font-family FiraSans
