// * core *
@require './base/core'
@require './base/reset'

// * modules *
@require './modules/general'

// * partials *
@require './partials/editor'
@require './partials/topbar'
@require './partials/overview'

// * overrides *
@require './base/overrides'

body
    font-family: "Lucida Grande", "Segoe UI", Ubuntu, Cantarell, Arial, sans-serif
